.summary {
  font-size: 1.5rem;
  font-weight: 600;
}

.summary h2 {
  font-size: 1.5rem;
  color: var(--color-1);
  margin-bottom: var(--gap);
}

@media (max-width: 1000px) {
  .summary {
    flex-direction: column;
  }
}