:root {
  --color-1: #463220;
  --color-2: #66593C;
  --color-3: #ECEADD;
  --color-4: #F7F8F5;
  --color-5: #FFFFFF;
  --gap-sm: 0.625rem;
  --gap: 1.25rem;
}

@media (max-width: 700px) {
  :root {
    --gap-sm: .5rem;
    --gap: .75rem;
  }
}